<div data-hook="admin_offer_form_fields" class="row">
  <div class="left twelve columns alpha" data-hook="admin_offer_form_left">
    <div data-hook="admin_offer_form_name">
      <%= f.field_container :name do %>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name, :class => 'fullwidth title', :required => true %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_slug">
      <%= f.field_container :slug do %>
        <%= f.label :slug, class: 'required' %>
        <%= f.text_field :slug, :class => 'fullwidth title', :required => true %>
        <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_discount">
      <%= f.field_container :discount do %>
        <%= f.label :discount %>
        <%= f.text_field :discount, { :class => 'fullwidth' } %>
        <%= f.error_message_on :discount %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_taxon">
        <span id="taxon">
          <%= f.label :taxon_id, Spree::Taxon.model_name.human %>
          <%= f.collection_select :taxon_id, @taxons, :first, :last, {}, { :class => 'select2 fullwidth' } %>
        </span>
    </div>

    <div data-hook="admin_offer_form_active">
      <%= f.field_container :active do %>
        <%= f.label :active %>
        <%= f.check_box :active %>
        <%= f.error_message_on :active %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_main">
      <%= f.field_container :active do %>
        <%= f.label :main %>
        <%= f.check_box :main %>
        <%= f.error_message_on :main %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_abstract">
      <%= f.field_container :abstract do %>
        <%= f.label :abstract %>
        <%= f.text_area :abstract, { :rows => "5", :class => 'fullwidth' } %>
        <%= f.error_message_on :abstract %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_description">
      <%= f.field_container :description do %>
        <%= f.label :description %>
        <%= f.text_area :description, { :rows => "10", :class => 'fullwidth' } %>
        <%= f.error_message_on :description %>
      <% end %>
    </div>

  </div>


  <div data-hook="admin_offer_form_meta" class="alpha omega twelve columns">
    <div data-hook="admin_offer_form_meta_title">
      <%= f.field_container :meta_title do %>
        <%= f.label :meta_title %>
        <%= f.text_field :meta_title, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_meta_keywords">
      <%= f.field_container :meta_keywords do %>
        <%= f.label :meta_keywords %>
        <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div data-hook="admin_offer_form_meta_description">
      <%= f.field_container :meta_description do %>
        <%= f.label :meta_description %>
        <%= f.text_field :meta_description, :class => 'fullwidth' %>
      <% end %>
    </div>
  </div>

</div>
