<% content_for :page_title do %>
  <%= Spree.t(:listing_offers) %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:admin, Spree::Offer) && can?(:create, Spree::Offer) %>
    <li>
      <%= button_link_to Spree.t(:new_offer), new_admin_offer_url, :icon => 'plus', :id => 'admin_new_offer_link' %>
    </li>
  <% end %>
<% end %>

<table class="index" id="listing_offers" data-hook>
  <!--<colgroup>-->
    <!--<col style="width: 85%">-->
    <!--<col style="width: 15%">-->
  <!--</colgroup>-->
  <thead>
  <tr data-hook="admin_offers_index_headers">
    <th><%= sort_link @search,:name, Spree::Offer.model_name.human, {}, {:title => 'offers_name'} %></th>
    <th><%= sort_link @search,:taxon, Spree::Taxon.model_name.human, {}, {:title => 'offers_taxon'} %></th>
    <th><%= sort_link @search,:discount, Spree.t(:discount), {}, {:title => 'offers_discount'} %></th>
    <th><%= sort_link @search,:active, Spree.t(:active), {}, {:title => 'offers_active'} %></th>
    <th><%= sort_link @search,:affected, Spree.t(:affected), {}, {:title => 'offers_affected'} %></th>
    <th data-hook="admin_offers_index_header_actions" class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @offers.each do |offer|%>
    <tr id="<%= spree_dom_id offer %>" data-hook="admin_offers_index_rows" class="<%= cycle('odd', 'even')%>">
      <td class='offer_name'><%=link_to offer.name, edit_admin_offer_url(offer) %></td>
      <td class='offer_taxon'><%= @taxons.select{|pair| pair.first == offer.taxon.id }.last.last %></td>
      <td class='offer_discount'><%= offer.discount %>%</td>
      <td class='offer_active'><%= offer.active ? Spree.t(:yes) : Spree.t(:no) %></td>
      <td class='offer_affected'><%= offer.taxon.products.count %></td>
      <td data-hook="admin_offers_index_row_actions" class="actions">
        <% if can?(:edit, offer) %>
          <%= link_to_edit offer, :no_text => true %>
        <% end %>
        <% if can?(:destroy, offer) %>
          <%= link_to_delete offer, :no_text => true %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @offers, theme: "solidus_admin" %>

<% content_for :sidebar_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :sidebar do %>
  <div class="box align-center" data-hook="admin_offers_index_search">
    <%= search_form_for [:admin, @search], url: admin_offers_url do |f| %>
      <div class="field">
        <%= f.label :name_cont, Spree.t(:name) %> <br>
        <%= f.text_field :name_cont, :class => 'fullwidth' %>
      </div>
      <div data-hook="admin_offers_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>
